<div class="row">
	<main class="col-md-12">
		<h1>HTML Demo Page</h1>
		<p>This is my HTML Demo page. It features my favorite pokemon.</p>
		<h2>Manetric</h2>
		<p>Manectric is an Electric type Pokémon introduced in Generation 3.</p>
		<p>Manectric has a Mega Evolution, available in Generation 6 games and Pokémon Go.</p>
		<h3>--Images--</h3>
		<img src="https://img.pokemondb.net/artwork/large/manectric.jpg" alt="Manetric">
		<p>Manetric Official Artwork</p>
		<h4>Evolution Chart</h4>
		<div>
			<div><img src="https://img.pokemondb.net/sprites/home/normal/2x/avif/electrike.avif" alt="Electrike"></div>
			<span><p>Electrike<br><b>Next Evolution</b></p></span>
			<div><img src="https://img.pokemondb.net/sprites/home/normal/2x/avif/manectric.avif" alt="Manetric"></div>
			<span><p>Manetric<br></p></span>
		</div>
		<h3>--Lists--</h3>
		<h4>Pokédex data</h4>
		<ul>
			<li>National №: 0310</li>
			<li>Type: ELECTRIC</li>
			<li>Species: Discharge Pokémon</li>
			<li>Height: 1.5 m (4′11″)</li>
			<li>Weight: 40.2 kg (88.6 lbs)</li>
			<li>Abilities</li>
			<ol>
				<li>Static</li>
				<li>Lightning Rod</li>
				<li>Minus (hidden ability)</li>
			</ol>
			<li>Local №</li>
			<ul>
				<li>0079 (Ruby/Sapphire/Emerald)</li>
				<li>0074 (X/Y — Coastal Kalos)</li>
				<li>0081 (Omega Ruby/Alpha Sapphire)</li>
				<li>0294 (U.Sun/U.Moon — Alola dex)</li>
				<li>0067 (Sword/Shield)</li>
			</u						
		</ul>
		<p>This is the pokedata of Manetric in List form</p>
		<h3>--Tables--</h3>
		<h5><u>Moves learnt by level up</u></h5>
		<table>
			<caption>Manectric learns the following moves in Pokémon Brilliant Diamond & Shining Pearl at the levels specified.</caption>
			<thead>
				<tr>
				    <th colspan="2">Lv. & Move</th>
					<th>Type</th>
				    <th>Category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="5">1</td>
					<td>Fire Fang</td>
					<td>FIRE</td>
					<td>Physical</td>
				</tr>
				<tr>
					<td>Howl</td>
					<td>NORMAL</td>
					<td>Status</td>
				</tr>
				<tr>
					<td>Leer</td>
					<td>NORMAL</td>
					<td>Status</td>
				</tr>
				<tr>
					<td>Tackle</td>
					<td>NORMAL</td>
					<td>Physical</td>
				</tr>
				<tr>
					<td>Thunder Wave</td>
					<td>ELECTRIC</td>
					<td>Status</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Quick Attack</td>
					<td>NORMAL</td>
					<td>Physical</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Shock Wave</td>
					<td>ELECTRIC</td>
					<td>Special</td>
				</tr>
				<tr>
					<td>20</td>
					<td>Bite</td>
					<td>DARK</td>
					<td>Physical</td>
				</tr>
				<tr>
					<td>24</td>
					<td>Thunder Fang</td>
					<td>ELECTRIC</td>
					<td>Physical</td>
				</tr>
				<tr>
					<td>30</td>
					<td>Roar</td>
					<td>NORMAL</td>
					<td>Status</td>
				</tr>
				<tr>
					<td>36</td>
					<td>Discharge</td>
					<td>ELECTRIC</td>
					<td>Special</td>
				</tr>
				<tr>
					<td>42</td>
					<td>Charge</td>
					<td>ELECTRIC</td>
					<td>Status</td>
				</tr>
				<tr>
					<td>48</td>
					<td>Wild Charge</td>
					<td>ELECTRIC</td>
					<td>Physical</td>
				</tr>
				<tr>
					<td>54</td>
					<td>Thunder</td>
					<td>ELECTRIC</td>
					<td>Special</td>
				</tr>
				<tr>
					<td>60</td>
					<td>Electric Terrain</td>
					<td>ELECTRIC</td>
					<td>Status</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
				    <td colspan="2">Lv. & Move</td>
					<td>Type</td>
				    <td>Category</td>
				</tr>
			</tfoot>
		</table>
		<p><br></p>
		<h5><u>Egg moves</u></h5>
		<table>
			<caption>Manectric learns the following moves via breeding in Pokémon Brilliant Diamond & Shining Pearl.</caption>
			<thead>
				<tr>
				    <th>Move</th>
				    <th>Type</th>
				    <th>Category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Crunch</td>
					<td>DARK</td>
					<td>Physical</td>    
				</tr>
				<tr>
					<td>Curse</td>
					<td>GHOST</td>
					<td>Status</td>    
				</tr>
				<tr>
					<td>Discharge</td>
					<td>ELECTRIC</td>
					<td>Special</td>    
				</tr>
				<tr>
					<td>Eerie Impulse</td>
					<td>ELECTRIC</td>
					<td>Status</td>    
				</tr>
				<tr>
					<td>Electro Ball</td>
					<td>ELECTRIC</td>
					<td>Special</td>    
				</tr>
				<tr>
					<td>Fire Fang</td>
					<td>FIRE</td>
					<td>Physical</td>    
				</tr>
				<tr>
					<td>Headbutt</td>
					<td>NORMAL</td>
					<td>Physical</td>    
				</tr>
				<tr>
					<td>Ice Fang</td>
					<td>ICE</td>
					<td>Physical</td>    
				</tr>
				<tr>
					<td>Spark</td>
					<td>ELECTRIC</td>
					<td>Physical</td>    
				</tr>
				<tr>
					<td>Swift</td>
					<td>NORMAL</td>
					<td>Special</td>    
				</tr>
				<tr>
					<td>Switcheroo</td>
					<td>DARK</td>
					<td>Status</td>    
				</tr>
				<tr>
					<td>Thunder Fang</td>
					<td>ELECTRIC</td>
					<td>Physical</td>    
				</tr>
				<tr>
					<td>Uproar</td>
					<td>NORMAL</td>
					<td>Special</td>    
				</tr>
			</tbody>
			<tfoot>
				<tr>
				    <td>Move</td>
				    <td>Type</td>
				    <td>Category</td>
				</tr>
			</tfoot>
		</table>
		<p><br>This is table section detailing the moves learned by Manetric through leveling or through breeding.</p>
		<h3>--Audio--</h3>
		<audio controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
		</audio>
		<p>This is a sample audio</p>
		<h3>--Video--</h3>
		<video controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
		</video>
		<p>This is a sample video</p>
	</main>
</div>