<div class="row">
	<main class="col-md-12">
		<h1>Welcome to my website!</h1>
		<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including:</p>
		<ul>
			<li><a href="/students">All Students</a></li>
			<li><a href="/students?course=1">Students by Course</a></li>
			<li><a href="/student/1">A Single Student By Student Number</a></li>
			<li><a href="/tas">All Managers</a></li>
			<li><a href="/courses">All Courses</a></li>
		</ul>
		<h2>HTML5 Principles</h2>
		<p>HTML stands for Hyper Text Markup Language. It is used to design web pages using a markup language. HTML is an abbreviation of Hypertext and Markup language. Hypertext defines the link between the web pages. 
			The markup language is used to define the text document within the tag which defines the structure of web pages. HTML 5 is the fifth and current version of HTML. It has improved the markup available for documents and has introduced application programming interfaces (API) and Document Object Model (DOM).</p>
		<h4>Features:</h4>
		<ul>
			<li>It has introduced new multimedia features which supports both audio and video controls by using &lt;audio&gt; and &lt;video&gt; tags.</li>
			<li>There are new graphics elements including vector graphics and tags.</li>
			<li>Enrich semantic content by including &lt;header&gt; &lt;footer&gt;, &lt;article&gt;, &lt;section&gt; and &lt;figure&gt; are added.</li>
			<li>Drag and Drop- The user can grab an object and drag it further dropping it to a new location.</li>
			<li>Geo-location services- It helps to locate the geographical location of a client.</li>
			<li>Web storage facility which provides web application methods to store data on the web browser.</li>
			<li>Uses SQL database to store data offline.</li>
			<li>Allows drawing various shapes like triangle, rectangle, circle, etc.</li>
			<li>Capable of handling incorrect syntax.</li>
			<li>Easy DOCTYPE declaration i.e., &lt;!doctype html&gt;.</li>
			<li>Easy character encoding i.e., &lt;meta charset=”UTF-8″&gt;.</li>
		</ul>
	</main>
</div>
