<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Students</h2>
        <hr />
        {{#each students}}
            {{this.firstName}} {{this.lastName}}<br>
        {{/each}}

    </div>
</div>
